:root {

  --color-medium-blue:#67D4C8;
  --color-medium-blue-darker:#38c7b6;
  --color-light-blue:#8DF3CF;
  --color-red: #f35b5f;
  --color-red-darker: #f14147;
  --color-red-lighter:#fab8ba;
  --color-dark-green:#1D4849;
}

#sidebar-toggle {
  display: none;  /*hide the checkbox */
}

#sidebar {
  display:block;
}
#sidebar-toggle:checked ~ .container .main .sidebar {
  display:none;
}



.container {
  display:grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 60px auto 40px;
  grid-template-areas:
    "header header header header header"
    "main main main main main"
    "footer footer footer footer footer";
}

.header
{
  grid-column: 1/6;
  z-index:99;

  box-shadow:0 2px 5px rgba(0,0,0,.26);
  background-color:var(--color-medium-blue);
  color:#fff;
  font-size:16px;
  display:grid;
  grid-template-columns: 40px 50px auto 120px;
}

.header-sidebar-toggle
{
  grid-column: 2/3;
}

.header .header-title
{
    display:grid;
    display:inline-block;
    grid-column:3/4;
    padding-left:24px;
}

.header-name-span
{
  grid-column:4/5;
  padding-top:16px;
  font-size:18px;
}

.sidebar-toggle-label
{
  display:block;
  line-height:0px;
  margin-top:4px;
  margin-bottom:8px;
  border-radius:50%;
  font-size:24px;
  cursor:pointer;
}

.sidebar-toggle-label:hover{
  background-color:var(--color-red);
  color:#fff;
}

.sidebar-toggle-label span {
  display:inline-block;

  padding-top:50%;
  padding-bottom:50%;
  padding-left:4px;
  margin-left:9px;
  margin-right:8px;
}

.header-title
{
  grid-column:3/4;
  align-self: center;
  font-size:18px;
  padding-left:24px;

}

.header-title h1
{
  color:#fff;
}

.main
{
  grid-column: 1/6;
  grid-row:2/3;
  display:grid;
  grid-template-columns: auto 50px 1fr 50px 40px;
  grid-template-areas:
    "sidebar . content content .";
}

.sidebar
{
  grid-area: sidebar;
  background-color:#eee;
  width:200px;
  overflow:auto;
  padding-top:48px;
}

.sidebar ul
{
  margin:0;
  padding:0;
  list-style-type: none;
}

.sidebar ul li
{
  font-decoration:none;
  padding-top:16px;
  padding-bottom:16px;
  padding-left:48px;
  padding-right:16px;
}

.sidebar ul li:hover
{
  background-color:var(--color-red-lighter);
  color:#fff;
}

.sidebar ul li.active
{
  background-color:var(--color-red);
  color:#fff;
}



.content
{
  grid-area: content;
  min-height:100%;
  padding-top:24px;
  padding-bottom:56px;
}

.footer
{
  grid-area: footer;
  padding:8px;
  background-color:var(--color-medium-blue);
  color:#fff;
}

.card
{
  border: 1px solid #eee;
  padding:24px;
}

.disp-flex
{
  display:flex;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .main
    {
      grid-template-columns: auto 24px 1fr auto 24px;
      grid-template-rows:auto auto;

    }

    .header-sidebar-toggle
    {
      grid-column: 1/2;
    }

    .header .header-title
    {

        grid-column:2/3;
        padding-left:24px;
    }

    .header-name-span
    {
      display:none;
    }



}
